@import 'vars.less';

.index {
    padding-top: 40px;
}

.home {
    display: flex;
    justify-content: space-between;
}

.post-preview {
    h1 {
        font-family: @post-title-font;
    }
    max-width: 600px;
    padding-left: 40px;
}

.threads-preview {
    max-width: 300px;
    padding-right: 40px;
}

.from-img {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.by-text {
    color: @second-font-color;
    font-style: italic;
}

a {
    color: @font-color;
    text-decoration: none;
}