  
// Colors
@theme-color: #e1eaf5;
@background-color: #1b2124;
@box-shadow: 0 0 5px rgba(58, 63, 211, 0.15);
@header-color: #5f6988;

// Fonts
@body-font: 'Roboto Mono', sans-serif;

// Animation
@transition: all .3s ease-out;