@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Roboto&family=Open+Sans&display=swap');

// Colors
@background-color: #1b2124;
@theme-color : #4d96bb;

// Fonts
@site-font: 'Source Code Pro', sans-serif;
@body-font: 'Roboto', sans-serif;
@post-title-font: 'Open Sans', sans-serif;
@font-color:  rgb(215, 231, 241);
@second-font-color: rgb(139, 143, 145);



// Animation
@transition: all .3s ease-out;