{% extends 'base.html' %}

{% block content %}
    <div class="index">
        <div class="home">
            <div class="post-preview">
                {% for post in posts %}
                    <div class="post" onclick="location.href='/posts/{{post.url}}'">
                        <h1>{{post.title}}</h1>
                        <div class="from" name="from" attr="{{post.git}}">$ </div>
                        <p>{{post.description}}</p>
                        <div class="tags">
                            <p class="italic-grey">Tags: </p>
                        {% for tag in post.tags %}
                            <span><p>{{tag}}</p></span>
                        {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>

            
            <div class="post-preview">
                {% for thread in threads %}
                    <div class="thread" onclick="location.href='/threads/{{thread.url}}'">
                        <h1>{{thread.title}}</h1>
                        <p>{{thread.description}}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
   
{% endblock %}